h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    padding-bottom: 30px;
    padding-top: 25px;
    color: rgb(44, 25, 1);
}
h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    padding-top: 25px;
    padding-bottom: 30px;
    color: rgb(44, 25, 1);
}
body{
    margin-bottom:  20px; ;
    border: none;
    border-radius: 0;
    margin: 30%;
    justify-content: center;
}
.p{
    margin: 30%;
    border: 20px;
    color: rgb(13, 13, 49);
}